body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: #19a1ae;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 350px;
  height: 374px;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.man {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 4px solid white;
}

div.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

div.numbers {
  display: flex;
  justify-content: center;
  gap: 46px;
}

div.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8.5px;
}
