@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Big Shoulders", sans-serif;
}

main {
  background-color: #19a1ae;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 350px;
  height: 374px;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.man {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 4px solid white;
  margin-top: -48px;
}

div.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

div.numbers {
  display: flex;
  justify-content: center;
  gap: 46px;
}

div.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8.5px;
  margin-bottom: 8px;
  margin-top: 24px;
}

div.texttwo {
  margin-top: 24px;
}

div.line {
  height: 1px;
  background-color: #e8e9ec;
  width: 100%;
  margin-top: 28px;
}

p {
  color: #6b7082;
}

.texttwo h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
}
